# Archivos de datos y tablas de MySQL
*.ibd
*.mybatis
*.frm
*.myd
*.myi

# Archivos de registros y temporales de MySQL
*.log
*.pid
*.err

# Respaldos de base de datos con información real/sensible
*.sql
*.dump
*.gz
